Repository prp0x80/intro-to-mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, black, flake8, isort

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

black:
  name: black
  language: python
  entry: black

flake8:
  name: flake8
  language: python
  entry: flake8

isort:
  name: isort
  language: python
  entry: isort

🔧 Updated gitignore and deps
  .gitignore
  requirements.txt
Due: none

👷 Added isort config
  isort.cfg
Due: none

✨ Added classifer code and data
  .pre-commit-config.yaml
  README.md
  data/hr_attrition.csv
  kainos_sklearn/classifier.py
  pyproject.toml
Due: black, flake8, isort

✨ Added mlflow example
  01_ml_complexities.ipynb
  03_setup_mlflow.ipynb
  04_mlflow_example.ipynb
  requirements.txt
Due: jupyter-nb-clear-output

deploy: ec7acdbf984ca92c83f2077028219cd5b58edc63
  03_setup_mlflow.html
  04_mlflow_example.html
  search.json
Due: none

📝 Added output to mlflow example
  .gitignore
  .pre-commit-config.yaml
  04_mlflow.ipynb
  04_mlflow_example.ipynb
  isort.cfg
Due: jupyter-nb-clear-output

deploy: 74117921bd491f0fc1146ffcb10dcf2f5b2e2086
  04_mlflow_example.html
  04_mlflow_example_files/figure-html/cell-6-output-1.png
  search.json
Due: none

👷 Config update
  .gitpod.yml
  04_mlflow_example.ipynb
Due: jupyter-nb-clear-output

Update render-and-deploy.yml
  .github/workflows/render-and-deploy.yml
Due: none

deploy: 95476b39fa557b65ae126227722859c4d6280b3f
  01_ml_complexities.html
  02_mlflow_intro.html
  03_setup_mlflow.html
  04_mlflow_example.html
  04_mlflow_example_files/figure-html/cell-6-output-1.png
  search.json
  site_libs/bootstrap/bootstrap-icons.css
  site_libs/bootstrap/bootstrap-icons.woff
  site_libs/bootstrap/bootstrap.min.css
  site_libs/bootstrap/bootstrap.min.js
  site_libs/clipboard/clipboard.min.js
  site_libs/quarto-html/anchor.min.js
  site_libs/quarto-html/popper.min.js
  site_libs/quarto-html/quarto-syntax-highlighting.css
  site_libs/quarto-html/quarto.js
  site_libs/quarto-html/tippy.css
  site_libs/quarto-html/tippy.umd.min.js
  site_libs/quarto-nav/quarto-nav.js
  site_libs/quarto-search/autocomplete.umd.js
  site_libs/quarto-search/fuse.min.js
  site_libs/quarto-search/quarto-search.js
Due: none

📝 Added content for MLflow models
  .pre-commit-config.yaml
  02_mlflow_intro.ipynb
  03_mlflow_setup.ipynb
  04_mlflow_example.ipynb
  README.md
  _quarto.yml
  kainos_sklearn/classifier.py
Due: jupyter-nb-clear-output, black, flake8, isort

deploy: 17affece66d70b877b51041e9f252372ef49e403
  01_ml_complexities.html
  02_mlflow_intro.html
  03_mlflow_setup.html
  04_mlflow_example.html
  search.json
Due: none

✏️ Updated MLflow model content
  04_mlflow_example.ipynb
Due: jupyter-nb-clear-output

deploy: 35ac3a3f11aa54e83dc7854e9c3a162dd6f1a539
  04_mlflow_example.html
  search.json
Due: none

🚑 Quick config update and typo fix
  04_mlflow_example.ipynb
  _quarto.yml
  images/favicon.ico
Due: jupyter-nb-clear-output

deploy: 0d5a27a5f749bf2cb136f7a61c1ec96bba532380
  01_ml_complexities.html
  02_mlflow_intro.html
  03_mlflow_setup.html
  04_mlflow_example.html
  images/favicon.ico
  robots.txt
  search.json
  site_libs/bootstrap/bootstrap.min.css
  sitemap.xml
Due: none

📝 Updated documentation
  02_mlflow_intro.ipynb
  04_mlflow_example.ipynb
Due: jupyter-nb-clear-output

deploy: 1e1d50032853b362a4425608efcb64230076e600
  02_mlflow_intro.html
  04_mlflow_example.html
  search.json
  sitemap.xml
Due: none

✏️ Minor updates to the content
  03_mlflow_setup.ipynb
  04_mlflow_example.ipynb
Due: jupyter-nb-clear-output

deploy: e34aaa91e923f942c08498be60058003737ae641
  03_mlflow_setup.html
  04_mlflow_example.html
  search.json
  sitemap.xml
Due: none

🚀 Enabled runtime execution
  04_mlflow_example.ipynb
Due: jupyter-nb-clear-output

🚑 Disabled runtime execution
  04_mlflow_example.ipynb
Due: jupyter-nb-clear-output

deploy: d50181082585c77c4a69bacf9ce105b59ad7cc37
  04_mlflow_example.html
  search.json
  sitemap.xml
Due: none

Path conditions:
  jupyter-nb-clear-output: any of: \.ipynb$
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
